.slider-section6 {
    background-color: white;

    .item {
        padding: 10px 10px;
        text-align: center;

        &:hover {
            .item-content {
                box-shadow: 4px 4px 4px 4px rgba(70, 68, 68, 0.5);
            }
        }

        .item-content {
            padding: 13px;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            transition: all 0.3s ease;
            position: relative;
            &:hover{
                .hover-box{
                    opacity: 1 ;
                    visibility: visible;
                }
            }
            

            .hover-box{
                position: absolute;
                top: -5px;
                right: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                z-index: 1;
                transition: all ease 0.3s;
                opacity: 0;
                visibility: hidden;
                .top{
                    display: flex;
                    flex-direction: column;
                    
                }
                a{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: rgb(226, 224, 224);
                    color: rgb(128, 121, 121);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    &:hover{
                        color: gray;
                    }
                }
            }

            img.product-img {
                width: 100%;
            }

            a {
                margin: 10px 0;
                text-decoration: none;
                font-size: 17px;
                text-align: left !important;
                font-weight: 500;
                color: black;
            }

            button {
                background-color: #181818;
                border: none;
                color: white;
                padding: 5px 10px;
                border-radius: 6px;
            }
            p{
                margin: 0;
                margin-bottom: 10px;
                text-align: left;
                color: gray;
            }
        }

    }

    .slick-prev {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: -9% !important;
        left: 95% !important;
        display: block;
        width: 20px !important;
        height: 20px !important;
        padding: 0;
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        &::before{
                font-family: 'slick';
                font-size: 30px;
                line-height: 1;
                opacity: .85;
                color: rgb(219, 23, 23);
        }
    }

    .slick-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: -9% !important;
        right: 0 !important;
        display: block;
        width: 20px !important;
        height: 20px !important;
        padding: 0;
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        &::before{
                font-family: 'slick';
                font-size: 30px;
                line-height: 1;
                opacity: .85;
                color: rgb(219, 23, 23);
        }
    }
}


@media screen and (max-width: 768px) {
    .slider-section6 {
        .slick-prev {
            font-size: 0;
            line-height: 0;
            position: absolute;
            top: -9% !important;
            left: 86% !important;
            display: block;
            width: 20px !important;
            height: 20px !important;
            padding: 0;
            transform: translate(0, -50%);
            cursor: pointer;
            color: transparent;
            border: none;
            outline: none;
            background: transparent;
            &::before{
                    font-family: 'slick';
                    font-size: 30px;
                    line-height: 1;
                    opacity: .85;
                    color: rgb(219, 23, 23);
            }
        }
    
        .slick-next {
            font-size: 0;
            line-height: 0;
            position: absolute;
            top: -9% !important;
            right: 0 !important;
            display: block;
            width: 20px !important;
            height: 20px !important;
            padding: 0;
            transform: translate(0, -50%);
            cursor: pointer;
            color: transparent;
            border: none;
            outline: none;
            background: transparent;
            &::before{
                    font-family: 'slick';
                    font-size: 30px;
                    line-height: 1;
                    opacity: .85;
                    color: rgb(219, 23, 23);
            }
        }
    }
}